# Created by venv; see https://docs.python.org/3/library/venv.html

# ---- Python ----
**/__pycache__/

# ---- 虛擬環境 ----
venv/

# ---- 作業系統相關 ----
**/.DS_Store
$RECYCLE.BIN/

# ---- 編輯器與 IDE 設定檔 ----
.vscode/

# ---- User資料夾 ----
docs/
data/
