# Created by venv; see https://docs.python.org/3/library/venv.html

# ---- Python ----
**/__pycache__/

# ---- Virtual Environment ----
venv/

# ---- OS-related Files ----
**/.DS_Store
$RECYCLE.BIN/

# ---- Editor and IDE Settings ----
.vscode/

# ---- User Folders ----
docs/
/data/
!app/data/
